<div class="container-fluid" id="contenedorLogin">
  <div class="card card-centrada">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form class="row">
        <div class="col">
          <div class="row">
            <label class="form-label">Usuario</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="nombre"
              name="nombre"
            />
          </div>
          <div class="row">
            <label class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="contrasena"
              name="contrasena"
            />
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="ingresar()"
              >
                Ingresar
              </button>
            </div>
          </div>
          <br />
          <div *ngIf="error == true" class="row">
            <div class="col">
              <div class="alert alert-danger" role="alert">
                El usuario o la contraseña son incorrectos
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
