<form class="formulario row">
  <div class="col">
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label"
          >Tipo de identificacion</label
        >
        <select class="form-select" aria-label="Default select example">
          <option selected>Escoja una opcion</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label"
          >Identificacion</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label">Razon social</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label"
          >Fecha de registro</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label">Estado</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Añadir</button>
      </div>
    </div>
  </div>
</form>
