<form class="formulario row">
  <div class="col">
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label"
          >Tipo de identificacion</label
        >
        <select
          [(ngModel)]="tipoIdId"
          name="tipoId"
          class="form-select"
          aria-label="Default select example"
        >
          <option
            [value]="opcion.tipoIdentificacion"
            *ngFor="let opcion of tiposIden"
          >
            <p>{{ opcion.descripcion }}</p>
          </option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label"
          >Identificacion</label
        >
        <input type="text" class="form-control" [(ngModel)]="id" name="id" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label">Razon social</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="razonSocial"
          name="razonSocial"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label"
          >Fecha de registro</label
        >
        <input
          type="date"
          class="form-control"
          [(ngModel)]="fechaRegistro"
          name="fechaRegistro"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="exampleInputEmail1" class="form-label">Estado</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="estado"
          name="estado"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="agregarCliente()"
          *ngIf="tipo === 'añadir'"
        >
          Añadir
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="actualizar()"
          *ngIf="tipo === 'modificar'"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</form>
