<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Numero de identificacion</th>
      <th scope="col">Razon social</th>
      <th scope="col">Fecha de registro</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ cliente.tipoIdentificacion.descripcion }}</td>
      <td>{{ cliente.identificacion }}</td>
      <td>{{ cliente.razonSocial }}</td>
      <td>{{ cliente.fechaRegistro.toString().substr(0, 10) }}</td>
      <td>{{ cliente.estado }}</td>
    </tr>
  </tbody>
</table>
